html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #eedec4 url("img/bg.jpg"); }

.wrapper {
  overflow-x: hidden; }

.content-wrap {
  z-index: 0;
  position: relative;
  transition: 0.5s; }

.content-wrap-active {
  transform: translateX(300px); }

.contain {
  width: 1200px;
  margin: 0 auto;
  padding: 0; }

h2, h3 {
  font-weight: bold; }

.navig-panel {
  width: 300px;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  transition: 0.5s;
  z-index: 10;
  transform: translateX(-300px);
  background-color: white;
  border-right: 2px solid lightgray; }
  .navig-panel #toggle {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    display: block;
    width: 60px;
    margin: 10px 0 0 10px;
    height: 40px;
    position: absolute;
    right: -70px;
    top: 0;
    opacity: .5;
    border-radius: 5px;
    background: #4d4b4b; }
    .navig-panel #toggle span,
    .navig-panel #toggle span::before,
    .navig-panel #toggle span::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      margin-left: -10px;
      left: 50%;
      width: 20px;
      height: 3px;
      background: white; }
    .navig-panel #toggle span::before {
      transform: translateY(5px); }
    .navig-panel #toggle span::after {
      transform: translateY(-7px); }
  .navig-panel:active {
    background: #1d1c1c;
    transition: 0.3s; }

.panel {
  display: flex;
  width: 100%;
  flex-direction: column; }
  .panel a {
    padding: 8px 30px;
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 6px;
    font-size: 1.2rem;
    color: #4d4b4b;
    border-bottom: 1px solid lightgray; }
    .panel a:hover {
      text-decoration: none;
      font-weight: normal; }
  .panel a.special {
    font-weight: bold; }

.navig-panel-active {
  transform: translateX(0%); }

.header-wrap {
  margin: 70px 0 40px 0; }
  .header-wrap #header {
    display: flex;
    position: relative;
    justify-content: space-between; }
    .header-wrap #header .logo {
      width: 260px;
      display: flex; }
      .header-wrap #header .logo h1 {
        font-size: 3rem;
        border-radius: 5px;
        padding: 5px 10px;
        background: #fd2893; }
        .header-wrap #header .logo h1 a {
          text-decoration: none;
          font-weight: bold;
          color: white; }
      .header-wrap #header .logo span {
        margin-left: 20px;
        display: flex;
        font-weight: bold;
        color: #4d4b4b;
        align-items: center; }
    .header-wrap #header .navigation {
      width: 720px;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .header-wrap #header .navigation ul.navig {
        display: flex; }
        .header-wrap #header .navigation ul.navig li.navig__item {
          padding: 10px;
          transition: all 1s;
          margin-left: 15px;
          position: relative; }
          .header-wrap #header .navigation ul.navig li.navig__item a.navig__link {
            color: #4d4b4b;
            font-weight: bold;
            font-size: 1.2rem;
            letter-spacing: 1px;
            padding-bottom: 25px;
            text-decoration: none; }
          .header-wrap #header .navigation ul.navig li.navig__item ul.subnav {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 0;
            display: none;
            margin-top: 15px; }
            .header-wrap #header .navigation ul.navig li.navig__item ul.subnav:hover li.navig__item:nth-of-type(2) {
              background-color: white; }
            .header-wrap #header .navigation ul.navig li.navig__item ul.subnav li.subnav__item {
              width: 150%;
              position: relative;
              padding: 10px 10px 10px 15px;
              border-bottom: 2px solid lightgray;
              transition: 0.6s;
              background: white; }
              .header-wrap #header .navigation ul.navig li.navig__item ul.subnav li.subnav__item a.subnav__link {
                text-decoration: none;
                color: #4d4b4b; }
              .header-wrap #header .navigation ul.navig li.navig__item ul.subnav li.subnav__item:first-of-type::before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: -15px;
                left: 10%;
                display: block;
                border: 8px solid transparent;
                border-bottom-color: lightgreen; }
          .header-wrap #header .navigation ul.navig li.navig__item:nth-of-type(2):hover ul.subnav {
            transition: all 1s;
            display: block; }
            .header-wrap #header .navigation ul.navig li.navig__item:nth-of-type(2):hover ul.subnav li.subnav__item:hover {
              background-color: lightblue;
              transition: 0.6s; }
            .header-wrap #header .navigation ul.navig li.navig__item:nth-of-type(2):hover ul.subnav li.subnav__item:last-of-type {
              border-bottom: 0; }
          .header-wrap #header .navigation ul.navig li.navig__item:hover {
            border-radius: 5px;
            transition: all 1s;
            background: white; }

.hero-wrap #hero {
  background: white; }
  .hero-wrap #hero .hero-stand {
    padding: 70px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border-bottom: 2px solid lightgray; }
    .hero-wrap #hero .hero-stand div.column-1 {
      width: 60%; }
      .hero-wrap #hero .hero-stand div.column-1 h2 {
        font-size: 3rem;
        margin: 5px 0 20px 0;
        color: #4d4b4b; }
      .hero-wrap #hero .hero-stand div.column-1 p {
        font-size: 3rem;
        line-height: 70px;
        color: #4d4b4b; }
    .hero-wrap #hero .hero-stand div.column-2 {
      width: 40%; }
      .hero-wrap #hero .hero-stand div.column-2 ul {
        margin-left: 30px; }
        .hero-wrap #hero .hero-stand div.column-2 ul li {
          padding: 25px 30px;
          border-radius: 5px;
          position: relative; }
          .hero-wrap #hero .hero-stand div.column-2 ul li a {
            text-decoration: none;
            font-size: 3rem;
            font-weight: bold; }
          .hero-wrap #hero .hero-stand div.column-2 ul li svg {
            margin: 0 10px; }
          .hero-wrap #hero .hero-stand div.column-2 ul li .fa-arrow-circle-right {
            position: absolute;
            top: 40%;
            cursor: pointer; }
          .hero-wrap #hero .hero-stand div.column-2 ul li .fa-question-circle {
            position: absolute;
            top: 40%;
            cursor: pointer; }
          .hero-wrap #hero .hero-stand div.column-2 ul li:first-of-type {
            background: #1f9aff;
            transition: all 1s;
            margin-bottom: 20px; }
            .hero-wrap #hero .hero-stand div.column-2 ul li:first-of-type a {
              color: white;
              padding: 20px; }
            .hero-wrap #hero .hero-stand div.column-2 ul li:first-of-type:hover {
              background: #116fbb; }
          .hero-wrap #hero .hero-stand div.column-2 ul li:last-of-type {
            transition: all 1s;
            background: #faf7f1; }
            .hero-wrap #hero .hero-stand div.column-2 ul li:last-of-type a {
              color: #4d4b4b;
              padding: 25px; }
            .hero-wrap #hero .hero-stand div.column-2 ul li:last-of-type:hover {
              transition: all 1s;
              background: #fdedcc; }

.portfolio-wrap {
  padding: 50px 0; }
  .portfolio-wrap .contain .row .col-12-md section {
    background-color: white;
    width: 375px;
    border-radius: 10px;
    border-bottom: 2px solid lightgray; }
    .portfolio-wrap .contain .row .col-12-md section a img {
      width: 375px;
      height: 290px;
      border-radius: 10px 10px 0 0; }
    .portfolio-wrap .contain .row .col-12-md section .context {
      padding: 60px 30px 50px 30px; }
      .portfolio-wrap .contain .row .col-12-md section .context .heading {
        margin-bottom: 30px; }
        .portfolio-wrap .contain .row .col-12-md section .context .heading h2 {
          margin-bottom: 5px;
          font-size: 1.8rem;
          color: #4d4b4b; }
        .portfolio-wrap .contain .row .col-12-md section .context .heading p {
          color: #4d4b4b;
          font-size: 1.2rem;
          line-height: 2rem; }
      .portfolio-wrap .contain .row .col-12-md section .context p {
        font-size: 1.2rem;
        color: #4d4b4b;
        line-height: 2rem; }

.main-wrap {
  padding: 80px 0;
  background-color: white;
  border-bottom: 2px solid lightgray; }
  .main-wrap .contain .row div .sidebar h3 {
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #4d4b4b; }
  .main-wrap .contain .row div .sidebar .row .col-6 a img {
    width: 180px;
    height: 90px;
    margin-bottom: 20px;
    border-radius: 10px; }
  .main-wrap .contain .row div .sidebar ul {
    margin-top: 20px; }
    .main-wrap .contain .row div .sidebar ul li a.button {
      padding: 20px 40px;
      border-radius: 5px;
      color: white;
      position: relative;
      transition: all 1s;
      font-size: 1.8rem;
      font-weight: bold;
      background: #1f9aff; }
      .main-wrap .contain .row div .sidebar ul li a.button:hover {
        text-decoration: none;
        transition: all 1s;
        background: #116fbb; }
      .main-wrap .contain .row div .sidebar ul li a.button strong {
        margin-left: 10px; }
  .main-wrap .contain .row div .sidebar section {
    margin-bottom: 70px; }
    .main-wrap .contain .row div .sidebar section p {
      line-height: 2rem;
      font-size: 1.2rem;
      color: #4d4b4b; }
    .main-wrap .contain .row div .sidebar section .link {
      margin: 40px 0 20px 0; }
      .main-wrap .contain .row div .sidebar section .link a {
        padding: 20px 30px;
        background: #1f9aff;
        border-radius: 5px;
        font-size: 1.8rem; }
        .main-wrap .contain .row div .sidebar section .link a strong {
          margin-left: 10px;
          color: white; }
      .main-wrap .contain .row div .sidebar section .link:hover a {
        background: #116fbb;
        text-decoration: none; }
    .main-wrap .contain .row div .sidebar section ul {
      display: flex;
      flex-direction: column; }
      .main-wrap .contain .row div .sidebar section ul li {
        padding: 10px 0; }
        .main-wrap .contain .row div .sidebar section ul li a {
          font-size: 1.2rem;
          text-decoration: underline; }
        .main-wrap .contain .row div .sidebar section ul li:hover a {
          text-decoration: none; }
  .main-wrap .contain .row div .content {
    margin-left: 40px; }
    .main-wrap .contain .row div .content section.content__sec h2 {
      margin-bottom: 40px;
      font-size: 2.5rem;
      color: #4d4b4b; }
    .main-wrap .contain .row div .content section.content__sec p {
      margin-bottom: 30px;
      line-height: 2rem;
      font-size: 1.2rem;
      color: #4d4b4b; }
    .main-wrap .contain .row div .content section.content__sec ul li a.content__button {
      padding: 10px 30px;
      color: white;
      border-radius: 5px;
      font-size: 1.8rem;
      transition: all 1s;
      font-weight: bold;
      background: #1f9aff; }
      .main-wrap .contain .row div .content section.content__sec ul li a.content__button:hover {
        background: #116fbb;
        text-decoration: none;
        transition: all 1s; }
      .main-wrap .contain .row div .content section.content__sec ul li a.content__button strong {
        margin-left: 10px; }
    .main-wrap .contain .row div .content article h2 {
      margin-bottom: 40px;
      font-size: 2.5rem;
      color: #4d4b4b;
      text-align: center; }
    .main-wrap .contain .row div .content article p {
      margin-bottom: 30px;
      font-size: 1.2rem;
      line-height: 2rem;
      color: #4d4b4b; }
    .main-wrap .contain .row div .content article h3 {
      margin-bottom: 20px;
      font-size: 1.8rem;
      color: #4d4b4b;
      text-align: center; }

.main-no-wrap {
  padding: 80px 0;
  background-color: white;
  border-bottom: 2px solid lightgray; }
  .main-no-wrap .contain .content article h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #4d4b4b; }
  .main-no-wrap .contain .content article p {
    margin-bottom: 30px;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #4d4b4b; }
  .main-no-wrap .contain .content article h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #4d4b4b; }

.footer-wrap {
  padding: 100px 0 140px 0; }
  .footer-wrap #footer .row div div.widget {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
    .footer-wrap #footer .row div div.widget h3 {
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: #4d4b4b; }
    .footer-wrap #footer .row div div.widget ul li {
      padding: 8px 0; }
      .footer-wrap #footer .row div div.widget ul li a {
        color: #4d4b4b;
        text-decoration: underline;
        font-size: 1.2rem; }
        .footer-wrap #footer .row div div.widget ul li a:hover {
          text-decoration: none; }
      .footer-wrap #footer .row div div.widget ul li:last-child:hover {
        text-decoration: underline; }
    .footer-wrap #footer .row div div.widget ul.contacts {
      display: flex; }
      .footer-wrap #footer .row div div.widget ul.contacts li {
        margin-right: 8px; }
        .footer-wrap #footer .row div div.widget ul.contacts li a svg {
          font-size: 2.5rem; }
    .footer-wrap #footer .row div div.widget p {
      display: flex;
      flex-direction: column; }
      .footer-wrap #footer .row div div.widget p span {
        padding: 10px 0;
        font-size: 1.2rem;
        color: #4d4b4b; }
  .footer-wrap #footer .row:last-of-type {
    margin-top: 70px; }
    .footer-wrap #footer .row:last-of-type .col-12 .copyright ul {
      display: flex;
      justify-content: center; }
      .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li {
        border-right: 2px solid lightgray;
        margin: 0 10px;
        color: #4d4b4b;
        font-size: 1.2rem; }
        .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li a {
          text-decoration: underline;
          color: #4d4b4b;
          font-size: 1.2rem; }
          .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li a:hover {
            text-decoration: none; }

@media screen and (max-width: 1270px) {
  #header,
  #hero,
  .contain {
    width: 960px; }

  #header .logo {
    width: 220px; }
    #header .logo h1 {
      font-size: 2.7rem; }
    #header .logo span {
      font-size: 0.95rem; }
  #header .navigation {
    width: 620px; }
    #header .navigation ul.navig li.navig__item {
      margin-left: 12px; }
      #header .navigation ul.navig li.navig__item a.navig__link {
        font-size: 1.14rem; }

  .hero-wrap #hero .hero-stand {
    padding: 60px; }
    .hero-wrap #hero .hero-stand div.column-1 {
      width: 60%; }
      .hero-wrap #hero .hero-stand div.column-1 h2 {
        font-size: 2.7rem; }
      .hero-wrap #hero .hero-stand div.column-1 p {
        font-size: 2.7rem; }
    .hero-wrap #hero .hero-stand div.column-2 {
      width: 40%; }
      .hero-wrap #hero .hero-stand div.column-2 ul li a {
        font-size: 2.4rem; }

  .portfolio-wrap .contain .row .col-12-md section {
    width: 300px; }
    .portfolio-wrap .contain .row .col-12-md section a img {
      width: 300px;
      height: 240px; }
    .portfolio-wrap .contain .row .col-12-md section .context .heading h2 {
      font-size: 1.62rem; }
    .portfolio-wrap .contain .row .col-12-md section .context .heading p {
      font-size: 1.08rem; }
    .portfolio-wrap .contain .row .col-12-md section .context p {
      font-size: 1.08rem; }

  .main-wrap .contain .row div .sidebar h3 {
    font-size: 1.62rem; }
  .main-wrap .contain .row div .sidebar .row .col-6 a img {
    width: 150px;
    height: 75px; }
  .main-wrap .contain .row div .sidebar ul li a.button {
    font-size: 1.62rem; }
  .main-wrap .contain .row div .sidebar section p {
    font-size: 1.08rem; }
  .main-wrap .contain .row div .sidebar section .link a {
    font-size: 1.62rem; }
  .main-wrap .contain .row div .sidebar section ul li a {
    font-size: 1.08rem; }
  .main-wrap .contain .row div .content section.content__sec h2 {
    font-size: 2.25rem; }
  .main-wrap .contain .row div .content section.content__sec p {
    font-size: 1.08rem; }
  .main-wrap .contain .row div .content section.content__sec ul li a.content__button {
    font-size: 1.62rem; }
  .main-wrap .contain .row div .content article h2 {
    font-size: 2.25rem; }
  .main-wrap .contain .row div .content article p {
    font-size: 1.08rem; }
  .main-wrap .contain .row div .content article h3 {
    font-size: 1.62rem; }

  .main-no-wrap .contain .content article h2 {
    font-size: 2.25rem; }
  .main-no-wrap .contain .content article p {
    font-size: 1.08rem; }
  .main-no-wrap .contain .content article h3 {
    font-size: 1.62rem; }

  .footer-wrap #footer .row div div.widget h3 {
    font-size: 1.53rem; }
  .footer-wrap #footer .row div div.widget ul li a {
    font-size: 1.02rem; }
  .footer-wrap #footer .row div div.widget ul.contacts li a svg {
    font-size: 2.125rem; }
  .footer-wrap #footer .row div div.widget p span {
    font-size: 1.02rem; }
  .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li {
    font-size: 1.02rem; }
    .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li a {
      font-size: 1.02rem; } }
@media screen and (max-width: 992px) {
  #header,
  #hero,
  .contain {
    width: 90%; }

  .navig-panel {
    display: block; }

  #header {
    flex-direction: column; }
    #header div.logo {
      margin: 0 auto;
      align-items: center;
      flex-direction: column; }
      #header div.logo h1 {
        width: 120px;
        font-size: 2.7rem; }
      #header div.logo span {
        margin-right: 15px;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center; }
    #header .navigation ul.navig li.navig__item {
      display: none;
      margin-left: 12px; }
      #header .navigation ul.navig li.navig__item a.navig__link {
        font-size: 1.08rem; }

  .hero-wrap #hero .hero-stand {
    padding: 60px;
    flex-direction: column; }
    .hero-wrap #hero .hero-stand div.column-1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .hero-wrap #hero .hero-stand div.column-1 h2 {
        font-size: 2.4rem; }
      .hero-wrap #hero .hero-stand div.column-1 p {
        font-size: 2.4rem;
        text-align: center; }
    .hero-wrap #hero .hero-stand div.column-2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .hero-wrap #hero .hero-stand div.column-2 ul {
        width: 100%; }
        .hero-wrap #hero .hero-stand div.column-2 ul li {
          padding: 0;
          width: 100%;
          height: 90px;
          display: flex;
          align-items: center; }
          .hero-wrap #hero .hero-stand div.column-2 ul li a {
            width: 100%;
            font-size: 2.4rem;
            text-align: center; }
          .hero-wrap #hero .hero-stand div.column-2 ul li .fa-arrow-circle-right {
            top: 35%;
            left: 80%; }
          .hero-wrap #hero .hero-stand div.column-2 ul li .fa-question-circle {
            top: 35%;
            left: 80%; }

  .portfolio-wrap .contain .row {
    flex-direction: column; }
    .portfolio-wrap .contain .row .col-12-md {
      margin-bottom: 20px; }
      .portfolio-wrap .contain .row .col-12-md section {
        width: 89vw; }
        .portfolio-wrap .contain .row .col-12-md section a img {
          width: 89vw;
          height: 65vw; }
        .portfolio-wrap .contain .row .col-12-md section .context .heading h2 {
          text-align: center; }
        .portfolio-wrap .contain .row .col-12-md section .context .heading p {
          text-align: center; }
        .portfolio-wrap .contain .row .col-12-md section .context p {
          text-align: center; }

  .main-wrap .contain .row {
    flex-direction: column; }
    .main-wrap .contain .row div .sidebar {
      margin-bottom: 50px; }
      .main-wrap .contain .row div .sidebar h3 {
        font-size: 1.8rem;
        text-align: center; }
      .main-wrap .contain .row div .sidebar .row {
        flex-direction: row; }
        .main-wrap .contain .row div .sidebar .row .col-6 {
          display: flex;
          justify-content: center; }
          .main-wrap .contain .row div .sidebar .row .col-6 a img {
            width: 320px;
            height: 160px; }
      .main-wrap .contain .row div .sidebar ul {
        display: flex;
        justify-content: center; }
        .main-wrap .contain .row div .sidebar ul li {
          width: 100%; }
          .main-wrap .contain .row div .sidebar ul li a.button {
            padding: 20px 44%;
            margin: 0 auto; }
      .main-wrap .contain .row div .sidebar section .link a {
        font-size: 1.26rem;
        padding: 20px 38%;
        margin: 0 auto; }
      .main-wrap .contain .row div .sidebar section ul li {
        display: flex;
        justify-content: center; }
    .main-wrap .contain .row div .content section.content__sec h2 {
      text-align: center; }
    .main-wrap .contain .row div .content section.content__sec ul {
      display: flex;
      justify-content: center; }
      .main-wrap .contain .row div .content section.content__sec ul li {
        width: 100%; }
        .main-wrap .contain .row div .content section.content__sec ul li a.content__button {
          padding: 20px 33%; }

  .main-no-wrap .contain .content article h2 {
    font-size: 2rem;
    text-align: center; }
  .main-no-wrap .contain .content article p {
    font-size: 0.96rem; }
  .main-no-wrap .contain .content article h3 {
    font-size: 1.44rem;
    text-align: center; }

  .footer-wrap #footer .row div {
    display: flex;
    justify-content: center; }
    .footer-wrap #footer .row div div.widget h3 {
      font-size: 1.44rem; }
    .footer-wrap #footer .row div div.widget ul li a {
      font-size: 0.96rem; }
    .footer-wrap #footer .row div div.widget ul.contacts li a svg {
      font-size: 2rem; }
    .footer-wrap #footer .row div div.widget p span {
      font-size: 0.96rem; }
  .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li {
    font-size: 0.96rem; }
    .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li a {
      font-size: 0.96rem; } }
@media screen and (max-width: 768px) {
  .main-wrap .contain .row div .sidebar .row .col-6 a img {
    width: 240px;
    height: 120px; }
  .main-wrap .contain .row div .sidebar ul li a.button {
    padding: 20px 41%;
    font-size: 1.26rem; }
  .main-wrap .contain .row div .content section.content__sec ul li a.content__button {
    padding: 20px 29.5%;
    font-size: 1.26rem; }

  .main-no-wrap .contain .content article h2 {
    font-size: 2rem; }
  .main-no-wrap .contain .content article p {
    font-size: 0.96rem; }
  .main-no-wrap .contain .content article h3 {
    font-size: 1.44rem; } }
.footer-wrap #footer .row div div.widget h3 {
  font-size: 1.8rem; }
.footer-wrap #footer .row div div.widget ul li a {
  font-size: 1.2rem; }
.footer-wrap #footer .row div div.widget ul.contacts li a svg {
  font-size: 2.5rem; }
.footer-wrap #footer .row div div.widget p span {
  font-size: 1.2rem; }
.footer-wrap #footer .row:last-of-type .col-12 .copyright ul li {
  font-size: 1.2rem; }
  .footer-wrap #footer .row:last-of-type .col-12 .copyright ul li a {
    font-size: 1.2rem; }

@media screen and (max-width: 576px) {
  .main-wrap .contain .row div .sidebar .row .col-6 a img {
    width: 200px;
    height: 100px; }
  .main-wrap .contain .row div .content section.content__sec ul li a.content__button {
    padding: 20px 26%;
    font-size: 1.26rem; }

  .main-no-wrap .contain .content article h2 {
    font-size: 2rem; }
  .main-no-wrap .contain .content article p {
    font-size: 0.96rem; }
  .main-no-wrap .contain .content article h3 {
    font-size: 1.44rem; } }

/*# sourceMappingURL=style.css.map */
