@import "tools.scss";
//RESET CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//STYLE CSS
body {
	background: rgb(238, 222, 196) url('img/bg.jpg');
}
.wrapper {
    overflow-x: hidden;
}
.content-wrap {
	z-index: 0;
	position: relative;
	transition: 0.5s;
}
.content-wrap-active {
	transform: translateX(300px);
}
.contain {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}
h2, h3 {
	font-weight: bold;
}
.navig-panel {
	width: 300px;
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: 0.5s;
    z-index: 10;
	transform: translateX(-300px);
	background-color: white;
	border-right: $border;
	#toggle {
		display: flex;
		align-items: center;
		margin: 0;
		justify-content: center;
		display: block;
		width: 60px;
		margin: 10px 0 0 10px;
		height: 40px;
		position: absolute;
        right: -70px;
        top: 0;
		opacity: .5;
		border-radius: 5px;
		background: $mainColor;
			span,
			span::before,
			span::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -1px;
				margin-left: -10px;
				left: 50%;
				width: 20px;
				height: 3px;
				background: white;
			}
			span::before {
				transform: translateY(5px);
			}
			span::after {
				transform: translateY(-7px);
			}
		}
		&:active {
			background: rgb(29, 28, 28);
			transition: 0.3s;
		}
	}
	.panel {
		display: flex;
		width: 100%;
		flex-direction: column;
		a {
			padding: 8px 30px;
			width: 90%;
			margin: 0 auto;
			margin-top: 8px;
			margin-bottom: 6px;
			font-size: 1.2rem;
			color: $mainColor;
			border-bottom: 1px solid lightgray;
			&:hover {
				text-decoration: none;
				font-weight: normal;
				
			}
		}
		a.special {
			font-weight: bold;
		}
	}	
.navig-panel-active {
    transform: translateX(0%);
}
//HEADER
.header-wrap {
	margin: 70px 0 40px 0;
	#header {
		display: flex;
		position: relative;
		justify-content: space-between;
		.logo {
			width: 260px;
			display: flex;
			h1 {
				font-size: $largestFont;
				border-radius: $borderRadius;
				padding: 5px 10px;
				background: rgb(253, 40, 147);
				a {
					text-decoration: none;
					font-weight: bold;
					color: white;
				}
			}
			span {
				margin-left: 20px;
				display: flex;
				font-weight: bold;
				color: $mainColor;
				align-items: center;
			}
		}
		.navigation {
			width: 720px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			ul.navig {
				display: flex;
				li.navig__item {
					padding: 10px;
					transition: $transition;
					margin-left: 15px;
					position: relative;
					a.navig__link {
						color: $mainColor;
						font-weight: bold;
						font-size: $smallFont;
						letter-spacing: 1px;
						padding-bottom: 25px;
						text-decoration: none;
					}
					ul.subnav {
						display: flex;
						flex-direction: column;
						position: absolute;
						z-index: 1;
						top: 100%;
						left: 0;
						display: none;
						margin-top: 15px;
						&:hover li.navig__item:nth-of-type(2) {
							background-color: white;
						}
						li.subnav__item {
							width: 150%;
							position: relative;
							padding: 10px 10px 10px 15px;
							border-bottom: $border;
							transition: 0.6s;
							background: white;
							a.subnav__link {
								text-decoration: none;
								color: $mainColor;
							}
							&:first-of-type::before {
								content: "";
								width: 0;
								height: 0;
								position: absolute;
								top: -15px;
								left: 10%;
								display: block;
								border: 8px solid transparent;
								border-bottom-color: lightgreen;
							}
						}
					}
					&:nth-of-type(2):hover {
						ul.subnav {
							transition: $transition;
							display: block;
							li.subnav__item:hover {
								background-color: lightblue;
								transition: 0.6s;
							}
							li.subnav__item:last-of-type {
								border-bottom: 0;
							}
						}
					}
					&:hover {
						border-radius: $borderRadius;
						transition: $transition;
						background: white;
					}
				}
			}
		}
	}
}
//HERO
.hero-wrap {
	#hero {
		background: white;
		.hero-stand {
			padding: 70px;
			display: flex;
			justify-content: space-between;
			border-radius: $borderRadius;
			border-bottom: $border;
			div.column-1 {
				width: 60%;
				h2 {
					font-size: $largestFont;
					margin: 5px 0 20px 0;
					color: $mainColor;
				}
				p {
					font-size: $largestFont;
					line-height: 70px;
					color: $mainColor;
				}
			}
			div.column-2 {
				width: 40%;
				ul {
					margin-left: 30px;
					li {
						padding: 25px 30px;
						border-radius: $borderRadius;
						position: relative;
						a {
							text-decoration: none;
							font-size: $largestFont;
							font-weight: bold;	
						}
						svg {
							margin: 0 10px;
						}
						.fa-arrow-circle-right {
							position: absolute;
							top: 40%;
							cursor: pointer;
						}
						.fa-question-circle {
							position: absolute;
							top: 40%;
							cursor: pointer;
						}
						&:first-of-type {
							background: $buttonColor;
							transition: $transition;
							margin-bottom: 20px;
							a {
								color: white;
								padding: 20px;
							}
							&:hover {
								background: $buttonColorHover;
							}
						}
						&:last-of-type {
							transition: $transition;
							background: rgb(250, 247, 241);
							a {
								color: $mainColor;
								padding: 25px;
							}
							&:hover {
								transition: $transition;
								background: rgb(253, 237, 204);
							}
						}
					}
				}
			}
		}
	}
}
//PORTFOLIO
.portfolio-wrap {
	padding: 50px 0;
	.contain {
		.row {
			.col-12-md{
				section {
					background-color: white;
					width: 375px;
					border-radius: $borderRadius * 2;
					border-bottom: $border;
					a {
						img {
							width: 375px;
							height: 290px;
							border-radius: $borderRadius * 2 $borderRadius * 2 0 0;
						}
					}
					.context {
						padding: 60px 30px 50px 30px;
						.heading {
							margin-bottom: 30px;
							h2 {
								margin-bottom: 5px;
								font-size: $midFont;
								color: $mainColor;
							}
							p {
								color: $mainColor;
								font-size: $smallFont;
								line-height: $line;
							}
						}
						p {
							font-size: $smallFont;
							color: $mainColor;
							line-height: $line;
						}
					}
				}
			}
		}
	}
}
//MAIN
.main-wrap {
	padding: 80px 0;
	background-color: white;
	border-bottom: $border;
	.contain {
		.row {
			div {
				.sidebar {
					h3 {
						margin-bottom: 30px;
						font-size: $midFont;
						color: $mainColor;
					}
					.row {
						.col-6 {
							a {
								img {
									width: 180px;
									height: 90px;
									margin-bottom: 20px;
									border-radius: $borderRadius * 2;
								}
							}
						}
					}		
					ul {
						margin-top: 20px;
						li {
							a.button {
								padding: 20px 40px;
								border-radius: $borderRadius;
								color: white;
								position: relative;
								transition: $transition;
								font-size: $midFont;
								font-weight: bold;
								background: $buttonColor;
								&:hover {
									text-decoration: none;
									transition: $transition;
									background: $buttonColorHover;
								}
								strong {
									margin-left: 10px;
								}
							}
						}
					}
					section {
						margin-bottom: 70px;
						p {
							line-height: $line;
							font-size: $smallFont;
							color: $mainColor;
						}
						.link {
							margin: 40px 0 20px 0;
							a {
								padding: 20px 30px;
								background: $buttonColor;
								border-radius: $borderRadius;
								font-size: $midFont;
								strong {
									margin-left: 10px;
									color: white;
								}
							}
							&:hover a {
								background: $buttonColorHover;
								text-decoration: none;
							}
						}
						ul {
							display: flex;
							flex-direction: column;
							li {
								padding: 10px 0;
								a {
									font-size: $smallFont;
									text-decoration: underline;
								}
								&:hover a {
									text-decoration: none;
								}
							}
						}
					}
				}
				.content {
					margin-left: 40px;
					section.content__sec {
						h2 {
							margin-bottom: 40px;
							font-size: $bigFont;
							color: $mainColor;
						}
						p {
							margin-bottom: 30px;
							line-height: $line;
							font-size: $smallFont;
							color: $mainColor;
						}
						ul {
							li {
								a.content__button {
									padding: 10px 30px;
									color: white;
									border-radius: $borderRadius;
									font-size: $midFont;
									transition: $transition;
									font-weight: bold;
									background: $buttonColor;
									&:hover {
										background: $buttonColorHover;
										text-decoration: none;
										transition: $transition;
									}
									strong {
										margin-left: 10px;
									}
								}
							}
						}
					}
					article {
						h2 {
							margin-bottom: 40px;
							font-size: $bigFont;
							color: $mainColor;
							text-align: center;
						}
						p {
							margin-bottom: 30px;
							font-size: $smallFont;
							line-height: $line;
							color: $mainColor;
						}
						h3 {
							margin-bottom: 20px;
							font-size: $midFont;
							color: $mainColor;
							text-align: center;
						}
					}
				}	
			}
		}
	}
}
.main-no-wrap {
	padding: 80px 0;
	background-color: white;
	border-bottom: $border;
	.contain {
		.content {
			article {
				h2 {
					margin-bottom: 40px;
					font-size: $bigFont;
					color: $mainColor;
				}
				p {
					margin-bottom: 30px;
					font-size: $smallFont;
					line-height: $line;
					color: $mainColor;
				}
				h3 {
					margin-bottom: 20px;
					font-size: $midFont;
					color: $mainColor;
				}
			}
		}
	}
}
//FOOTER
.footer-wrap {
	padding: 100px 0 140px 0;
	#footer {
		.row {
			div {
				div.widget {
					display: flex;
					flex-direction: column;
					margin-bottom: 20px;
					h3 {
						font-size: $midFont;
						margin-bottom: 20px;
						color: $mainColor;
					}
					ul {
						li {
							padding: 8px 0;
							a {
								color: $mainColor;
								text-decoration: underline;
								font-size: $smallFont;
								&:hover {
									text-decoration: none;
								}
							}
							&:last-child:hover {
								text-decoration: underline;
							}
						}
					}
					ul.contacts{
						display: flex;
						li {
							margin-right: 8px;
							a {
								svg {
									font-size: $bigFont;
								}
							}
						}
					}
					p {
						display: flex;
						flex-direction: column;
						span {
							padding: 10px 0;
							font-size: $smallFont;
							color: $mainColor;
						}
					}
				}
			}
			&:last-of-type {
				margin-top: 70px;
				.col-12 {
					.copyright {
						ul {
							display: flex;
							justify-content: center;
							li {
								border-right: $border;
								margin: 0 10px;
								color: $mainColor;
								font-size: $smallFont;
								a {
									text-decoration: underline;
									color: $mainColor;
									font-size: $smallFont;
									&:hover {
										text-decoration: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
//ADAPTIVE
@media screen and (max-width: 1270px) {
	#header,
	#hero,
	.contain  {
		width: 960px;
	}
	#header {
		.logo {
			width: 220px;
			h1 {
				font-size: $largestFont * 0.9;
			}
			span {
				font-size: 0.95rem;
			}
		}
		.navigation {
			width: 620px;
			ul.navig {
				li.navig__item {
					margin-left: 12px;
					a.navig__link {
						font-size: $smallFont * 0.95;
					}
				}
			}
		}
	}
	.hero-wrap {
		#hero {
			.hero-stand {
				padding: 60px;
				div.column-1 {
					width: 60%;
					h2 {
						font-size: $largestFont * 0.9;
					}
					p {
						font-size: $largestFont * 0.9;
					}
				}
				div.column-2 {
					width: 40%;
					ul {
						li {
							a {
								font-size: $largestFont * 0.8;	
							}
						}
					}
				}
			}
		}
	}
	.portfolio-wrap {
		.contain {
			.row {
				.col-12-md {
					section {
						width: 300px;
						a {
							img {
								width: 300px;
								height: 240px;
							}
						}
						.context {
							.heading {
								h2 {
									font-size: $midFont * 0.9;
								}
								p {
									font-size: $smallFont * 0.9;
								}
							}
							p {
								font-size: $smallFont * 0.9;
							}
						}
					}
				}
			}
		}
	}
	.main-wrap {
		.contain {
			.row {
				div {
					.sidebar {
						h3 {
							font-size: $midFont * 0.9;
						}
						.row {
							.col-6 {
								a {
									img {
										width: 150px;
										height: 75px;
									}
								}
							}
						}
						ul {
							li {
								a.button {
									font-size: $midFont * 0.9;
								}
							}
						}
						section {
							p {
								font-size: $smallFont * 0.9;
							}
							.link {
								a {
									font-size: $midFont * 0.9;
								}
							}
							ul {
								li {
									a {
										font-size: $smallFont * 0.9;
									}
								}
							}
						}
					}
					.content {
						section.content__sec {
							h2 {
								font-size: $bigFont * 0.9;
							}
							p {
								font-size: $smallFont * 0.9;
							}
							ul {
								li {
									a.content__button {
										font-size: $midFont * 0.9;
									}
								}
							}
						}
						article {
							h2 {
								font-size: $bigFont * 0.9;
							}
							p {
								font-size: $smallFont * 0.9;
							}
							h3 {
								font-size: $midFont * 0.9;
							}
						}
					}
				}
			}
		}
	}
	.main-no-wrap {
		.contain {
			.content {
				article {
					h2 {
						font-size: $bigFont * 0.9;
					}
					p {
						font-size: $smallFont * 0.9;
					}
					h3 {
						font-size: $midFont * 0.9;
					}
				}
			}
		}
	}
	.footer-wrap {
		#footer {
			.row {
				div {
					div.widget {
						h3 {
							font-size: $midFont * 0.85;
						}
						ul {
							li {
								a {
									font-size: $smallFont * 0.85;
								}
							}
						}
						ul.contacts{
							li {
								a {
									svg {
										font-size: $bigFont * 0.85;
									}
								}
							}
						}
						p {
							span {
								font-size: $smallFont * 0.85;
							}
						}
					}
				}
				&:last-of-type {
					.col-12 {
						.copyright {
							ul {
								li {
									font-size: $smallFont * 0.85;
									a {
										font-size: $smallFont * 0.85;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 992px) {
	#header,
	#hero,
	.contain  {
		width: 90%;
	}
	.navig-panel {
		display: block;
	}
	#header {
		flex-direction: column;
		div.logo {
			margin: 0 auto;
			align-items: center;
			flex-direction: column;
			h1 {
				width: 120px;
				font-size: $largestFont * 0.9;
			}
			span {
				margin-right: 15px;
				margin-top: 10px;
				font-size: 1rem;
				text-align: center;
			}
		}
		.navigation {
			ul.navig {
				li.navig__item {
					display: none;
					margin-left: 12px;
					a.navig__link {
						font-size: $smallFont * 0.9;
					}
				}
			}
		}
	}
	.hero-wrap {
		#hero {
			.hero-stand {
				padding: 60px;
				flex-direction: column;
				div.column-1 {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					h2 {
						font-size: $largestFont * 0.8;
					}
					p {
						font-size: $largestFont * 0.8;
						text-align: center;
					}
				}
				div.column-2 {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					ul {
						width: 100%;
						li {
							padding: 0;
							width: 100%;
							height: 90px;
							display: flex;
							align-items: center;
							a {
								width: 100%;
								font-size: $largestFont * 0.8;	
								text-align: center;
							}
							.fa-arrow-circle-right {
								top: 35%;
								left: 80%;
							}
							.fa-question-circle {
								top: 35%;
								left: 80%;
							}
						}
					}
				}
			}
		}
	}
	.portfolio-wrap {
		.contain {
			.row {
				flex-direction: column;
				.col-12-md {
					margin-bottom: 20px;
					section {
						width: 89vw;
						a {
							img {
								width: 89vw;
								height: 65vw;
							}
						}
						.context {
							.heading {
								h2 {
									text-align: center;
								}
								p {
									text-align: center;
								}
							}
							p {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
	.main-wrap {
		.contain {
			.row {
				flex-direction: column;
				div {
					.sidebar {
						margin-bottom: 50px;
						h3 {
							font-size: $midFont;
							text-align: center;
						}
						.row {
							flex-direction: row;
							.col-6 {
								display: flex;
								justify-content: center;
								a {
									img {
										width: 320px;
										height: 160px;
									}
								}
							}
						}	
						ul {
							display: flex;
							justify-content: center;
							li {
								width: 100%;
								a.button {
									padding: 20px 44%;
									margin: 0 auto;
								}
							}
						}
						section {
							.link {
								a {
									font-size: $midFont * 0.7;
									padding: 20px 38%;
									margin: 0 auto;
								}
							}
							ul {
								li {
									display: flex;
									justify-content: center;
								}
							}
						}
					}
					.content {
						section.content__sec {
							h2 {
								text-align: center;
							}
							ul {
								display: flex;
								justify-content: center;
								li {
									width: 100%;
									a.content__button {
										padding: 20px 33%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.main-no-wrap {
		.contain {
			.content {
				article {
					h2 {
						font-size: $bigFont * 0.8;
						text-align: center;
					}
					p {
						font-size: $smallFont * 0.8;
					}
					h3 {
						font-size: $midFont * 0.8;
						text-align: center;
					}
				}
			}
		}
	}
	.footer-wrap {
		#footer {
			.row {
				div {
					display: flex;
					justify-content: center;
					div.widget {
						h3 {
							font-size: $midFont * 0.8;
						}
						ul {
							li {
								a {
									font-size: $smallFont * 0.8;
								}
							}
						}
						ul.contacts{
							li {
								a {
									svg {
										font-size: $bigFont * 0.8;
									}
								}
							}
						}
						p {
							span {
								font-size: $smallFont * 0.8;
							}
						}
					}
				}
				&:last-of-type {
					.col-12 {
						.copyright {
							ul {
								li {
									font-size: $smallFont * 0.8;
									a {
										font-size: $smallFont * 0.8;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.main-wrap {
		.contain {
			.row {
				div {
					.sidebar {
						.row {
							.col-6 {
								a {
									img {
										width: 240px;
										height: 120px;
									}
								}
							}
						}	
						ul {
							li {
								a.button {
									padding: 20px 41%;
									font-size: $midFont * 0.7;
								}
							}
						}
					}
					.content {
						section.content__sec {
							ul {
								li {
									a.content__button {
										padding: 20px 29.5%;
										font-size: $midFont * 0.7;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.main-no-wrap {
		.contain {
			.content {
				article {
					h2 {
						font-size: $bigFont * 0.8;
					}
					p {
						font-size: $smallFont * 0.8;
					}
					h3 {
						font-size: $midFont * 0.8;
					}
				}
			}
		}
	}
}
.footer-wrap {
	#footer {
		.row {
			div {
				div.widget {
					h3 {
						font-size: $midFont;
					}
					ul {
						li {
							a {
								font-size: $smallFont;
							}
						}
					}
					ul.contacts{
						li {
							a {
								svg {
									font-size: $bigFont;
								}
							}
						}
					}
					p {
						span {
							font-size: $smallFont;
						}
					}
				}
			}
			&:last-of-type {
				.col-12 {
					.copyright {
						ul {
							li {
								font-size: $smallFont;
								a {
									font-size: $smallFont;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.main-wrap {
		.contain {
			.row {
				div {
					.sidebar {
						.row {
							.col-6 {
								a {
									img {
										width: 200px;
										height: 100px;
									}
								}
							}
						}	
					}
					.content {
						section.content__sec {
							ul {
								li {
									a.content__button {
										padding: 20px 26%;
										font-size: $midFont * 0.7;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.main-no-wrap {
		.contain {
			.content {
				article {
					h2 {
						font-size: $bigFont * 0.8;
					}
					p {
						font-size: $smallFont * 0.8;
					}
					h3 {
						font-size: $midFont * 0.8;
					}
				}
			}
		}
	}
}