$mainColor: rgb(77, 75, 75);
$buttonColor: rgb(31, 154, 255);
$buttonColorHover: rgb(17, 111, 187);
$border: 2px solid lightgray;
$borderRadius: 5px;
$transition: all 1s;
$smallFont: 1.2rem;
$midFont: 1.8rem;
$bigFont: 2.5rem;
$largestFont: 3rem;
$line: 2rem;
